.main_description {
    width: 600px;
}

.about_img img {
    width: 100%;
    height: auto;
}

/* media adaptive */

@media (max-width: 992px) {
    .main_description {
         width: 100%;
    }

    .about_img {
        margin-top: 30px;
    }
}
